body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #b3e5fc;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}


.container {
  margin: 0 auto;
  max-width: 1070px;
  padding: 20px;
  min-width: 1070px;
}
.subheader {
  font-size: 30px;
  font-weight: 300;
}

.categories {
  display: flex;
  justify-content: space-around;
  margin: 0;
  margin-left: 152px;
}

.icon-grid ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.addFormBar {
  position: relative;
  width: 80%;
  top: 50px;
  left: 100px;
  text-align: center;
  z-index: 5;
  padding: .5%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}

.addFormBar input {
  width: 50%;
  padding: 15px 10px;
  font-size: 1.25em;
  color: grey;
}
.close {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: #000;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}
